.sub_title{
    font-size: 45px!important;
}



.raizen-small{
    font-size:15px;
}

.raizen-medium{
    font-size:19px;
}

.raizen-large{
    font-size:29px;
}

.raizen-xl{
    font-size:39px;
}

.raizen-xxl{
    font-size:59px;
}